.header {
  position: absolute;
  top: 0;
  height: 4.3125rem;
  width: 100vw;
  background-color: #000;
  display: flex;
  justify-content: space-between;
}

.header__logo {
  display: flex;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 1.5rem;
}

.header__mypage {
  display: flex;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 1.5rem;
}
