.sideProject {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-top: 4.3125rem;
}

.sideProject__tag {
  display: flex;
  width: 22.625rem;
  height: fit-content;
  flex-shrink: 0;
  border-radius: 0.3125rem;
  background: #fff;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.15);
  flex-direction: column;
  margin-top: 2.31rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.tag-title {
  display: flex;
  margin-left: 0.63rem;
}

.tag-symbol {
  width: 1.125rem;
  height: 1rem;
  flex-shrink: 0;
  margin-right: 0.06rem;
}

.tag-message {
  color: #000;
  font-family: "Pretendard";
  font-size: 0.625rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  /* background: url("../assets/img/tag_message.png") no-repeat; */
  margin-top: auto;
  margin-bottom: auto;
}

.tag-buttons {
  display: flex;
  color: #000;
  font-family: "Pretendard";
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 0.78rem;
  margin-left: 2.31rem;
}

.tag-button__item {
  border: none;
  background: #fff;
  padding: 0.19rem 0.25rem;
  margin-right: 1.5rem;
  margin-bottom: 0.34rem;
}

.tag-button__item.active {
  border: none;
  border-radius: 0.375rem;
  background: #02ff70;
}

.tag-line {
  display: flex;
  width: 20.50038rem;
  height: 0.01rem;
  flex-shrink: 0;
  stroke-width: 1px;
  background: rgba(190, 183, 183, 0.47);
  filter: drop-shadow(0px 0px 0px rgba(0, 0, 0, 0.25));
  margin-left: auto;
  margin-right: auto;
}

.tag-content {
  display: flex;
  margin-top: 0.53rem;
  margin-left: 2.56rem;
}

.tag-content-item {
  color: #000;
  font-family: Arial;
  font-size: 0.6875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 0.25rem 0.19rem;
  border-radius: 0.3125rem;
  background: #d9d9d9;
  margin-right: 0.75rem;
}

.filter {
  display: flex;
  margin-top: 1.81rem;
  margin-left: auto;
  margin-right: 1rem;
}

.filter_symbol {
  width: 0.75rem;
  height: 0.75rem;
  flex-shrink: 0;
  margin-right: 0.13rem;
}

.sortDropdown {
  border: none;
}

.sideProject-list__item {
  display: flex;
  width: 22.625rem;
  height: fit-content;
  flex-shrink: 0;
  border-radius: 0.1875rem;
  border: 1px solid #dfdfdf;
  background: #fff;
  margin-bottom: 0.81rem;
  padding: 0.81rem 0.69rem;
  flex-direction: column;
  margin-top: 0.31rem;
}

.item-writer {
  display: flex;
  align-items: center;
  color: #000;
  font-family: Arial;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.3125rem; /* 150% */
  letter-spacing: -0.05625rem;
}

.item-title {
  color: #000;
  font-family: Arial;
  font-size: 1.0625rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.3125rem; /* 123.529% */
  letter-spacing: -0.05625rem;
  margin-top: 0.62rem;
  margin-bottom: 0.12rem;
}

.item-stack {
  color: #000;
  font-family: Anek Latin;
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.3125rem; /* 140% */
  letter-spacing: -0.05625rem;
}

.item-period {
  color: #000;
  font-family: Anek Latin;
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.3125rem; /* 140% */
  letter-spacing: -0.05625rem;
}

.item-etc {
  display: flex;
  flex-direction: row;
  margin-top: 1.06rem;
}

.item-tag__name {
  flex-shrink: 0;
  border-radius: 0.3125rem;
  background: #d9d9d9;
  color: #000;
  font-family: Arial;
  font-size: 0.6875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 0.31rem 0.44rem;
  margin-right: 0.75rem;
}

.scrap {
  display: flex;
  width: fit-content;
  margin-left: auto;
}

.scrapButton {
  width: 1.22rem;
  height: 1.085rem;
  flex-shrink: 0;
  outline: none; /* 클릭 효과를 없애기 위해 포커스 테두리 제거 */
  border: none; /* 버튼 테두리 제거 */
  background: transparent; /* 배경을 투명으로 설정하여 파란색 효과 제거 */
  cursor: pointer;
}

.scrapButton:active,
.scrapButton:focus {
  outline: none;
  border: none;
  background: transparent;
}

.scrapCount {
  display: flex;
  color: #000;
  font-family: Arial;
  font-size: 0.625rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 0.15rem;
  align-items: center;
}

.post {
  position: fixed;
  bottom: 0.62rem; /* 바닥으로부터의 여백 */
  right: 0.62rem; /* 오른쪽으로부터의 여백 */
}
